---
---

@import "{{ site.theme }}";
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);


/* Colour-blind friendly */
$blue1: #0072b2;
$green1: #009e73;
$orange1: #d55e00;
$pink1: #cc79a7;
$yellow1: #f0e442;
$blue2: #56b4e9;
$blue3: #0072b2;
$green2: #009e73;
$orange2: #d55e00;
$pink2: #cc79a7;
$grey: #efefef;
$green3: #d4f7ed;
$grey-blue: #343e4f;

/* user friendly config */
$header1-colour: $blue1;
$header2-colour: $pink2;
$link-colour: $blue2;
$pdf-link-colour: $pink2;
$header-background-colour: $grey;
$footer-background-colour: white;
$background-colour: white;
$menu-item-colour: $blue2;
$code-background-colour: $green3;
$font-color: $grey-blue;

/* CSS */

// Colours and fonts
h1 { color: $header1-colour; }
h2 { color: $header2-colour; }
.site-nav .page-link {color: $menu-item-colour !important; }
a {color: $link-colour !important; }
a.pdf-link {color: $pdf-link-colour !important; }

body {
    font-family: 'Roboto';
    color: $font-color;
    background-color: $background-colour;
}

h1, h2, h3, h4 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

pre, code {
    font-family: 'Ubuntu Mono';
    background-color: $code-background-colour;
}

// Lists
ol li {
    padding: 10px 0px !important;
}

ul > li {
    color: $green3;
}
ul > li > p {
    color: $font-color;
}



.site-header {
    background-color: $header-background-colour;
    border-top: 0;
}

/*  Keep footer at the bottom of the page
    https://codepen.io/cbracco/pen/zekgx
*/

footer.site-footer {
    position: absolute;
    background-color: $footer-background-colour;
    padding-top: 0;
    height: 100px;
    bottom: 0;
    right: 0;
    left: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
}

main.page-content {
    padding-top: 2rem;
    padding-bottom: 100px;
}
